* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jpt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml -text svneol=unset#text/plain
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#text/plain
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
/Beschreibung[!!-~]REST-Schnittstelle -text
WebContent/META-INF/MANIFEST.MF -text svneol=unset#text/plain
WebContent/WEB-INF/jsp/createPerson.jsp -text svneol=unset#text/plain
WebContent/WEB-INF/lib/asm-3.1.jar -text
WebContent/WEB-INF/lib/derby.jar -text
WebContent/WEB-INF/lib/jackson-core-asl-1.9.2.jar -text
WebContent/WEB-INF/lib/jackson-jaxrs-1.9.2.jar -text
WebContent/WEB-INF/lib/jackson-mapper-asl-1.9.2.jar -text
WebContent/WEB-INF/lib/jackson-xc-1.9.2.jar -text
WebContent/WEB-INF/lib/jersey-client-1.12.jar -text
WebContent/WEB-INF/lib/jersey-core-1.12.jar -text
WebContent/WEB-INF/lib/jersey-json-1.12.jar -text
WebContent/WEB-INF/lib/jersey-server-1.12.jar -text
WebContent/WEB-INF/lib/jersey-servlet-1.12.jar -text
WebContent/WEB-INF/lib/jettison-1.1.jar -text
WebContent/WEB-INF/lib/jsr311-api-1.1.1.jar -text
WebContent/WEB-INF/lib/openjpa-all-2.2.0.jar -text
WebContent/WEB-INF/web.xml -text svneol=unset#text/plain
jslib/bloomFilter-js/bloomFilter.js -text svneol=unset#text/plain
jslib/crypto-js/aes/aes-min.js -text svneol=unset#text/plain
jslib/crypto-js/aes/aes.js -text svneol=unset#text/plain
jslib/crypto-js/blockmodes/blockmodes-min.js -text svneol=unset#text/plain
jslib/crypto-js/blockmodes/blockmodes.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-md5-hmac/crypto-md5-hmac.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-md5/crypto-md5.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac-pbkdf2-blockmodes-aes/crypto-sha1-hmac-pbkdf2-blockmodes-aes.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac-pbkdf2-blockmodes-des/crypto-sha1-hmac-pbkdf2-blockmodes-des.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac-pbkdf2-marc4/crypto-sha1-hmac-pbkdf2-marc4.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac-pbkdf2-rabbit/crypto-sha1-hmac-pbkdf2-rabbit.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac-pbkdf2/crypto-sha1-hmac-pbkdf2.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac-pbkdf2async/crypto-sha1-hmac-pbkdf2async.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1-hmac/crypto-sha1-hmac.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha1/crypto-sha1.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha256-hmac/crypto-sha256-hmac.js -text svneol=unset#text/plain
jslib/crypto-js/crypto-sha256/crypto-sha256.js -text svneol=unset#text/plain
jslib/crypto-js/crypto/crypto-min.js -text svneol=unset#text/plain
jslib/crypto-js/crypto/crypto.js -text svneol=unset#text/plain
jslib/crypto-js/des/des-min.js -text svneol=unset#text/plain
jslib/crypto-js/des/des.js -text svneol=unset#text/plain
jslib/crypto-js/hmac/hmac-min.js -text svneol=unset#text/plain
jslib/crypto-js/hmac/hmac.js -text svneol=unset#text/plain
jslib/crypto-js/marc4/marc4-min.js -text svneol=unset#text/plain
jslib/crypto-js/marc4/marc4.js -text svneol=unset#text/plain
jslib/crypto-js/md5/md5-min.js -text svneol=unset#text/plain
jslib/crypto-js/md5/md5.js -text svneol=unset#text/plain
jslib/crypto-js/pbkdf2/pbkdf2-min.js -text svneol=unset#text/plain
jslib/crypto-js/pbkdf2/pbkdf2.js -text svneol=unset#text/plain
jslib/crypto-js/pbkdf2async/pbkdf2async-min.js -text svneol=unset#text/plain
jslib/crypto-js/pbkdf2async/pbkdf2async.js -text svneol=unset#text/plain
jslib/crypto-js/rabbit/rabbit-min.js -text svneol=unset#text/plain
jslib/crypto-js/rabbit/rabbit.js -text svneol=unset#text/plain
jslib/crypto-js/sha1/sha1-min.js -text svneol=unset#text/plain
jslib/crypto-js/sha1/sha1.js -text svneol=unset#text/plain
jslib/crypto-js/sha256/sha256-min.js -text svneol=unset#text/plain
jslib/crypto-js/sha256/sha256.js -text svneol=unset#text/plain
src/META-INF/persistence.xml -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/ArrayFieldComparator.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/BinaryFieldComparator.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/Characteristic.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/Config.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/DiceFieldComparator.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/Field.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/FieldComparator.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/HashedCharacteristic.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/HashedField.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/Matcher.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/PID.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/PIDGenerator.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/Patient.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/PlainTextCharacteristic.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/PlainTextField.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/Session.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/StringPair.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/exceptions/InvalidPIDException.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/exceptions/NotImplementedException.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/exceptions/UnauthorizedException.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/AbstractParam.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/FieldKeyParam.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/FunctionsResource.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/HTMLResource.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/PIDAdapter.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/PIDDto.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/PatientAdapter.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/PatientDto.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/PatientsResource.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/SessionAdapter.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/SessionDto.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/SessionIdParam.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/SessionsResource.java -text svneol=unset#text/plain
src/de/unimainz/imbei/mzid/webservice/Token.java -text svneol=unset#text/plain
test/de/unimainz/imbei/mzid/test/TestPIDGenerator.java -text svneol=unset#text/plain
test/pidlist.txt -text svneol=unset#text/plain
