/.classpath
/.project
/.settings
WebContent/META-INF/context.xml
config/*.conf
/doc
src/de/pseudonymisierung/mainzelliste/matcher/PSXMatcher.java
src/de/pseudonymisierung/mainzelliste/matcher/PSXMatchingState.java
src/de/pseudonymisierung/mainzelliste/matcher/PSXSpecification.java
/target
